
body{
  background-color: rgb(14, 72, 100);
  color: #EBE4C3;
}

#site-title{
  color: #D5B579;
  font-family: Trebuchet MS sans-serif;
  text-align: center;
}

.about-me-follow{

}

body{
  font-family: Garamond serif;
}

.hideable{
position: absolute;
display: none;
}

.hideable:focus{
opacity: 1;
}

.aboutView{
position: relative !important;

}

.projectView{
position: relative !important;
opacity: 1 !important;
width: 100% !important;

}

.projectsContainer{
  border-style: solid;
  border-width: 6px;
  border-color: rgba(146, 116, 107, 0.5);
  border-radius: 4%;

}

hr{
  opacity: 0.5;
  border-top: 5px solid #735E73;
  border-radius: 10%;
}

img{
  width: 100%;
  max-width: 220px;
  height: 80%;
  max-height: 176px;
  border-radius: 10%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}

#resumeLink{
  text-align: center;
  align-self: center;
}

button{
  background-color: rgba(235, 228, 195, 1);
  color:  rgba(115, 94, 115, 1);
  border-style: double;
  border-color: rgba(146, 116, 107, 1);
  border-collapse: collapse;
  border-radius: 15%;
  margin: 5px;
  transition: all 0.15s;
}

select{
  display: none;
  /* it's only in the doc as a reminder of how to do it. */
}

button:hover{
  background-color: rgba(235, 228, 195, 0.8);
  border-color: rgba(146, 116, 107, 0.9);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

button:active{
background-color: rgba(235, 228, 195, 0.6);
border-color: rgba(146, 116, 107, 0.8);
}

a{
  color: #92746B;
  transition: all, 0.15s;
}

a:hover{
  color: #EBE4C3;
}

a:active{
  color: #92746B;
  text-decoration: none;
}

.projectRadio {
  margin-left: 5%;
  margin-right: 1%;
  accent-color: #735E73;
}

div .links a{
 margin-left: 7%;
 margin-right: 1%;
}


div h3{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #D5B579;
  font-family: Trebuchet MS sans-serif;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

h5 h4{
  font-variant: small-caps;
  margin-bottom: 10px;
}

.hiddenLi{
  opacity: 0;
}


.tableHead{
  padding-left: 7px;
  padding-right: 15px;
  font-variant: small-caps;
  font-size: 20px;
}
